$bg: #0B0419;
$color2: #1F1D36;
$color3:#100625;
$color4: #6540A2;
$font: #C5C1CF;

@mixin flex_direction() {
    display: flex;
    flex-direction: column;
}

@mixin flex_align {
    @include flex_direction();
    align-items: center;
}
