* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #0b0419;
    color: #c5c1cf;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainContent {
    width: 1000px;
    .presentation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;

        height: 100vh;

        .profile {
            height: 200px;
            opacity: 0;
        }

        .welcome span {
            color: #6540a2;
        }
    }
    .separator {
        background: radial-gradient(circle,#41356b 55%,#0b0419 100%);
        height: 1px;
    }

    .info {
        height: 500px;
    }
}