@import '../../styles/styles';

.banner {
    @include flex_align();
    justify-content: space-between;
    flex: 1;

    img {
        margin: 10px 0 ;
    }

    p {
        text-align: center;
        font-size: 13px;
        margin: 3px 0;
    }
}