.Shape {
    display: flex;
    justify-content:center;
    align-items:center;
    width: 70px;
    height: 70px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    margin: -8px 0;
}